@import "tailwindcss";

:root {
  --background: #FAF6F0;
  --foreground: #827d87;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-roboto: var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.test{
  background: #f6ecd3;
}


input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: black;
}